<runtime>
  <assemblybinding xmlns="urn:schemas-microsoft-com:asm.v1">
    <dependentassembly>
      <assemblyidentity culture="neutral" publickeytoken="969db8053d3322ac" name="System.Drawing" />
      <bindingredirect newVersion="3.5.0.0" oldVersion="2.0.0.0" />
    </dependentassembly>
    <dependentassembly>
      <assemblyidentity culture="neutral" publickeytoken="969db8053d3322ac" name="System.Drawing" />
      <bindingredirect newVersion="3.5.0.0" oldVersion="1.0.5000.0" />
    </dependentassembly>
    <dependentassembly>
      <assemblyidentity culture="neutral" publickeytoken="969db8053d3322ac" name="System" />
      <bindingredirect newVersion="3.5.0.0" oldVersion="2.0.0.0" />
    </dependentassembly>
    <dependentassembly>
      <assemblyidentity culture="neutral" publickeytoken="969db8053d3322ac" name="System" />
      <bindingredirect newVersion="3.5.0.0" oldVersion="1.0.5000.0" />
    </dependentassembly>
    <dependentassembly>
      <assemblyidentity culture="neutral" publickeytoken="969db8053d3322ac" name="System.Windows.Forms" />
      <bindingredirect newVersion="3.5.0.0" oldVersion="2.0.0.0" />
    </dependentassembly>
    <dependentassembly>
      <assemblyidentity culture="neutral" publickeytoken="969db8053d3322ac" name="System.Windows.Forms" />
      <bindingredirect newVersion="3.5.0.0" oldVersion="1.0.5000.0" />
    </dependentassembly>

    <dependentassembly>
      <assemblyidentity culture="neutral" publickeytoken="969db8053d3322ac" name="System.Xml" />
      <bindingredirect newVersion="3.5.0.0" oldVersion="2.0.0.0" />
    </dependentassembly>

    <dependentassembly>
      <assemblyidentity culture="neutral" publickeytoken="969db8053d3322ac" name="System.Data" />
      <bindingredirect newVersion="3.5.0.0" oldVersion="2.0.0.0" />
    </dependentassembly>

    <dependentassembly>
      <assemblyidentity culture="neutral" publickeytoken="969db8053d3322ac" name="Microsoft.WindowsCE.Forms" />
      <bindingredirect newVersion="3.5.0.0" oldVersion="2.0.0.0" />
    </dependentassembly>

    <dependentassembly>
      <assemblyidentity culture="neutral" publickeytoken="969db8053d3322ac" name="System.Xml" />
      <bindingredirect newVersion="3.5.0.0" oldVersion="1.0.5000.0" />
    </dependentassembly>

    <dependentassembly>
      <assemblyidentity culture="neutral" publickeytoken="969db8053d3322ac" name="System.Data" />
      <bindingredirect newVersion="3.5.0.0" oldVersion="1.0.5000.0" />
    </dependentassembly>


  </assemblybinding>
</runtime>